body {
  font-family: "Inter", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.lh-125 {
  line-height: 1.25rem;
}

.mono {
  font-family: "PT Mono", monospace;
}

.bg-light {
  background-color: #F3F4F6!important;
}

.btn-light {
  background-color: #F3F4F6!important;
  border-color: #F3F4F6!important;
}

.btn-primary {
  background-color: #02A2D8;
  border-color: #02A2D8;
}

.btn-primary:hover {
  background-color: #0C8BB6;
  border-color: #0C8BB6;
}

nav a {
  transition: opacity 0.3s;
  font-size: 0.9rem;
}

nav a:hover {
  text-decoration: none;
  opacity: .5;
}

img {
  max-width: 100%;
}

.small, small {
  font-size: 80%;
  font-weight: inherit;
}

.form-control {
  height: inherit;
}

.btn-outline-dark {
  cursor: pointer;
  border-color: #ced4da;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
  background-color: #02A2D8;
  border-color: #ced4da;
}

.btn-outline-dark:hover {
  background-color: #02A2D8;
  border-color: #ced4da;
}

p {
  line-height: 1.7rem;
}

.top-banner {
  padding: 150px 0 60px;
}

@media (max-width: 768px) {
  .top-banner {
    padding: 0px 0 100px;
  }
}


.clients {
  padding: 150px 0 1.5rem;
}

@media (max-width: 768px) {
  .clients {
    padding: 1.5rem 0;
  }
}

.clients-list img {
  margin: 1rem;
}

.skills-header {
  float: left;
  margin: -10px 0 0 18px;
  background: #F3F4F6;
  padding: 0 6px;
}

.arrow, .arrow-light {
  float: right;
  margin-top: 7px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='12px' viewBox='0 0 8 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon fill='%23000000' points='0 1.4 1.4 0 7.4 6 1.4 12 0 10.6 4.6 6'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.arrow-light {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='12px' viewBox='0 0 8 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon fill='%23FFFFFF' points='0 1.4 1.4 0 7.4 6 1.4 12 0 10.6 4.6 6'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.lock, .lock-light {
  float: right;
  width: 16px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='21px' viewBox='0 0 16 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elock%3C/title%3E%3Cg id='Portfolio' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='lock' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M8,16 C9.1045695,16 10,15.1045695 10,14 C10,12.89 9.1,12 8,12 C6.8954305,12 6,12.8954305 6,14 C6,15.1045695 6.8954305,16 8,16 M14,7 C15.1045695,7 16,7.8954305 16,9 L16,19 C16,20.1045695 15.1045695,21 14,21 L2,21 C0.8954305,21 0,20.1045695 0,19 L0,9 C0,7.89 0.9,7 2,7 L3,7 L3,5 C3,2.23857625 5.23857625,0 8,0 C9.32608245,0 10.597852,0.526784202 11.5355339,1.46446609 C12.4732158,2.40214799 13,3.67391755 13,5 L13,7 L14,7 M8,2 C6.34314575,2 5,3.34314575 5,5 L5,7 L11,7 L11,5 C11,3.34314575 9.65685425,2 8,2 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.lock-light {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='21px' viewBox='0 0 16 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elock-light%3C/title%3E%3Cg id='Portfolio' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='lock-light' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8,16 C9.1045695,16 10,15.1045695 10,14 C10,12.89 9.1,12 8,12 C6.8954305,12 6,12.8954305 6,14 C6,15.1045695 6.8954305,16 8,16 M14,7 C15.1045695,7 16,7.8954305 16,9 L16,19 C16,20.1045695 15.1045695,21 14,21 L2,21 C0.8954305,21 0,20.1045695 0,19 L0,9 C0,7.89 0.9,7 2,7 L3,7 L3,5 C3,2.23857625 5.23857625,0 8,0 C9.32608245,0 10.597852,0.526784202 11.5355339,1.46446609 C12.4732158,2.40214799 13,3.67391755 13,5 L13,7 L14,7 M8,2 C6.34314575,2 5,3.34314575 5,5 L5,7 L11,7 L11,5 C11,3.34314575 9.65685425,2 8,2 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.aspect-ratio {
  height: 0;
  position: relative;
  z-index: 0;
}

.aspect-ratio--4x6 {
  padding-bottom: 115%;
}

.aspect-ratio--object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.cover {
  background-size: cover !important;
}

.hover-shadow-sm {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

.hover-shadow-sm:hover {
  box-shadow: 0 0.125rem 1.825rem rgba(0, 0, 0, 0.18);
}

.icon-round {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.icon[class*='bg-'] {
  background: none !important;
}

.icon-round.icon-round-xs > .icon {
  height: 1rem;
}

.services-row {
  border-right: 1px solid #dee2e6;
}

@media (max-width: 768px) {
  .services-row {
    border-right: 0;
  }
}

@media (max-width: 768px) {
  .lead {
    font-size: 1rem;
  }
  .portfolio-title {
    font-size: 1.5rem;
  }
  .services-title {
    font-size: 1rem;
  }
  li {
    font-size: .9rem;
  }
}

.triangle {
  content: " ";
  position: absolute;
  right: 40px;
  bottom: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #F3F4F6 transparent transparent;
}
.triangle-left {
  content: " ";
  position: absolute;
  left: 40px;
  bottom: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #F3F4F6 transparent transparent;
}

.diagonal {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 60vw;
  right: 0;
}

@media (max-width: 768px) {
  .diagonal {
    width: 130%;
    height: 80vw;
  }
}

.card {
  min-height: 400px;
}

.card-img-top-sm {
  width: 70%;
  margin: 0 auto;
}

.portfolio-lock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1000px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(0,0,0,.3);
  height: 100px;
  width: 100px;
  transition: all .2s ease 0s;
  z-index: 100;
}

.card:hover .portfolio-lock {
  top: 50%;
}
